@using Microsoft.AspNetCore.Identity

<div class="profile-info">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Profile" asp-action="Index" class="profile-link">
            <div class="d-flex align-items-center">
                <i class="bi bi-person-circle fs-5 me-2"></i>
                <span class="text-light small">@User.Identity?.Name</span>
            </div>
        </a>
    }
</div>
